/* Font used for all text in the container */
@import url(http://fonts.googleapis.com/css?family=Slabo+27px);
/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

/* Reset margins and fill entire space */
html, body, .container {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	/* Background image for the page */
	/*background: #fff8ed no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	/* Page color and font */
	color: #fff8ed;
	font-family: 'Slabo 27px', serif;
}

nav{
	position: fixed;
	top: 0;
	left:0;
	width:100%;
	height:100%;
	background:#DBCBAD;
	box-shadow:0 1px 2px rgb(204, 199, 190);
	z-index: 99;
}

nav .navbar{
	height: 100%;
	max-width: 1250px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin:auto; 
}

nav .navbar .nav-links{
	line-height: 70px;
	height: 100%;
}

nav .navbar .links{
	display: flex;
}

nav .navbar .links li{
	position: relative;
	display:flex;
	align-items:center;
	justify-content: space-between;
	list-style: none;
	padding: 0 14px;
}

nav .navbar .links li a{
	height:auto;
	text-decoration: none;
	white-space: nowrap;
	color: black;
	font-size: 15px;
	font-weight: 500;

}
/*Modifica la freccetta del menù a tendina*/
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow{
	transform: rotate(180deg);
}

nav .navbar .links li .arrow{
	height:100%;
	width:22px;
	line-height:70px;
	text-align:center;
	display:inline-block;
	color:black;
	transition: all 0.3s ease;
}

nav .navbar .links li sub-menu{
	position:absolute;
	top:70px;
	left:0;
	line-height: 40px;
	background: #DBCBAD;
	box-shadow: 0 1px 2px rgb(204, 199, 190);
	border-radius: 0 0 4px 4px;
	display: none;
	z-index:2;
}

/* Contains the main content, limits its width, and centers the content */
.container {
	margin: auto;
	max-width: 66%;
	
	height: 100%;
	width: 100%;
	
	text-align: center;
	display: table;
}

/*Stile del sub menu, senza questo viene fuori sullo stesso livello del resto*/
.links li:hover .htmlCss-sub-menu,
.links li:hover .js-sub-menu{
	display: block;
}

.navbar .links li sub-menu li{
	padding: 0 22px;
	border-bottom: 1px solid rgba(255,255,255);
}

.navbar .links li sub-menu a{
	color:black;
	font-size: 15px;
	font-weight: 500;
}

.navbar .search-box{
	position:relative;
	height:40px;
	width:40px;
}

.navbar .search-box i{
	position:absolute;
	height:100%;
	width:100%;
	line-height:40px;
	text-align:center;
	font-size:22px;
	color:#DBCBAD;
	font-weight: 600;
	cursor:pointer;
	transition: all 0.3s ease;
}

.navbar .search-box .input-box{
	position: absolute;
	right: calc(100% - 40px);
	top: 80px;
	height: 60px;
	width: 300px;
	background: #DBCBAD;
	border-radius: 6px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.4s ease;
}

.navbar .showInput .search-box .input-box{
	top: 65px;
	opacity: 1;
	pointer-events: auto;
	background: #DBCBAD;
}

.search-box .input-box::before{
	content:'';
	position: absolute;
	height: 20pz;
	width: 20px;
	background: #DBCBAD;
	right: 10px;
	top: -6px;
	transform: rotate(45deg);
}

.search-box .input-box input{
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4px;
	transform: translate(-50%, -50%);
	height: 35px;
	width:280px;
	outline: none;
	padding: 0 15px;
	font-size: 16px;
	border: none;
}

.navbar .nav-links .sidebar-logo{
	display:none
}

.navbar .bx-menu{
	display:none
}

@media (max-width: 920px) {
	nav .navbar{
		max-width:100%;
		padding: 0 25px;
	}
	nav .navbar .links li{
		padding: 0 10px;
		white-space: nowrap;
	}
	nav .navbar .links li a{
		font-size:15px;
	}
}

@media (max-width:800px){
	.navbar .bx-menu{
		display:block;
	}
	nav .navbar .nav-links{
		position:fixed;
		top:0;
		left:-100%;
		display:block;
		max-width:270px;
		width:100%;
		background: #DBCBAD;
		line-height:40px;
		padding:20px;
		box-shadow:0 5px 10px rgba(255,255,255);
		transition: all 0.5s ease;
		z-index:1000;
	}
	.navbar .bx-menu{
		font-size: 25px;
		color:black;
	} 
	nav .navbar .links{
		display: block;
		margin-top: 20px;
	}
	nav .navbar .links li .arrow{
		line-height: 40px;
	}
	nav .navbar .links li{
		display: block;
	}
	nav .navbar .links li .sub-menu{
		position: relative;
		top:0;
		box-shadow: none;
		display:none;
	}
	nav .navbar .links li .sub-menu li{
		border-bottom:none;
	}
	.links li:hover .htmlcss-arrow,
	.links li:hover .js-arrow{
		transform: rotate(0deg);
	}
	nav .navbar .links li:hover .htmlCss-sub-menu,
	nav .navbar .links li:hover .js-sub-menu{
		display:none;
	}
	.navbar .nav-links.show1 .links .htmlCss-sub-menu,
		.navbar .nav-links.show3 .links .js-sub-menu, 
		.navbar .nav-links.show1 .links .htmlcss-arrow,
		.navbar .nav-links.show3 .links .js-arrow{
			transform: rotate(180deg)
		}
}
@media (max-width:370px){
	nav .navbar .nav-links{
		max-width: 100%
	}
}

/* Another container for adding a darkened background and making it fill the entire height */
/*.container .inner {
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	display: table-row;  
	text-shadow: 0px 0px 12px rgba(0, 0, 0, .2);
}

/* Final container for containing the page content, applies padding to the content */
.container .inner .content {
	margin: 0 48px;
	padding: 0 32px 32px 24px;
}

/* A bit of resizing of the main content items */
h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.8em;
}
p {
	font-size: 1.1em;
}

/* Styling for social icons */
i.fa {
	padding: 0 8px;
	color: #FFF;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}
i.fa:hover {
	color: #00C5DB;
}

/* Make the site look better and fit the page on mobile */
@media only screen and (max-width: 900px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.2em;
	}
	p {
		font-size: 1em;
	}
	.container {
		max-width: 90%;
	}
	.container .inner .content {
		margin: 0 16px;
		padding: 0;
		min-width: 320;
	}
	i.fa {
		font-size: 2.5em;
	}
}