* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c29;
  height: 100%;
  color: white;
}

/*Navigation bar*/
.nav {
  z-index:1; 
  min-height: 58.59px;
}

.navbar {
  background-color: rgb(12,12,41);
}

/*Header*/
header {
  background: linear-gradient(336deg, rgba(45, 39, 255,0.9),rgba(255,0,0,0)),
  linear-gradient(217deg, rgba(255, 0, 91,0.9),rgba(255,0,0,0));
}

.header-title h1{
  letter-spacing: 0.1em;
  line-height: 1.2em;
  font-weight: 600;
}

.header-title h4{
  font-weight: 300;
}

.header-title .details {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
}

.header-title .details h3 {
  font-weight: 300;
}
/*About section*/
.about-container {
  display: flex;
  align-items: center;
}

.about-title {
  font-size: 2em;
  border-left: 4px solid blueviolet;
  padding-left: 0.3em;
}

.about-text {
  line-height: 1.5em;
  padding: 4% 5%;
}

.about-text .citazione {
  font-size: 1.2em;
  font-weight: 200;
  margin-top: 0.5%;
}

.about-photo-box {
  display: flex;
  justify-content: center;
}

.about-photo {
  width: 30rem; 
  border-radius: 5%;
}
/*Footer*/
footer {
  background-color: blueviolet;
}

.form-row {
  margin-bottom: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 10px;
}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}

.copyright {
  background-color: hsla(0, 0%, 0%, 0.2);
}